USE [master]
GO
/****** Object:  Database [Municipalidad]    Script Date: 6/3/2020 7:55:19 PM ******/
CREATE DATABASE [Municipalidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Municipalidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Municipalidad.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Municipalidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Municipalidad_log.ldf' , SIZE = 1777664KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Municipalidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Municipalidad]
GO
/****** Object:  Table [dbo].[CCConsumo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCConsumo](
	[IDCC] [int] NOT NULL,
	[ValorMetrosCubicos] [real] NOT NULL,
 CONSTRAINT [PK_CCConsumo] PRIMARY KEY CLUSTERED 
(
	[IDCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCFijo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCFijo](
	[IDCC] [int] NOT NULL,
	[Monto] [money] NOT NULL,
 CONSTRAINT [PK_CCFijo] PRIMARY KEY CLUSTERED 
(
	[IDCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCInteresMoratorio]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCInteresMoratorio](
	[IDCC] [int] NOT NULL,
 CONSTRAINT [PK_CCInteresMoratorio] PRIMARY KEY CLUSTERED 
(
	[IDCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCPorcentaje]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCPorcentaje](
	[IDCC] [int] NOT NULL,
	[ValorPorcentaje] [real] NOT NULL,
 CONSTRAINT [PK_CCPorcentaje] PRIMARY KEY CLUSTERED 
(
	[IDCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCXPropiedad](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[IDCC] [int] NOT NULL,
	[FechaInsercion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_CCXPropiedad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptoCobro]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptoCobro](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[TasaInteresMor] [real] NOT NULL,
	[DiasRestantesVigencia] [int] NOT NULL,
	[DiaCorte] [int] NOT NULL,
	[EsFijo] [varchar](2) NOT NULL,
	[EsRecurrente] [varchar](2) NOT NULL,
	[EsImpuesto] [varchar](2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Monto] [money] NOT NULL,
 CONSTRAINT [PK_ConceptoCobro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propiedad](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumFinca] [varchar](20) NOT NULL,
	[Valor] [money] NOT NULL,
	[Direccion] [varchar](300) NOT NULL,
	[FechaInsercion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Propiedad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropiedadXPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropiedadXPropietario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPropietario] [int] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[FechaInsercion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_PropiedadXPropietario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propietario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[NumId] [varchar](20) NOT NULL,
	[TipoId] [varchar](30) NOT NULL,
	[FechaInsercion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Propietarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropietarioJuridico]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropietarioJuridico](
	[IDPropietario] [int] NOT NULL,
	[IDTipoIdResponsable] [varchar](30) NOT NULL,
	[NumIdResponsable] [varchar](30) NOT NULL,
	[Responsable] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PropiedadJuridica] PRIMARY KEY CLUSTERED 
(
	[IDPropietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoID](
	[ID] [varchar](30) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Tipo] [varchar](100) NULL,
	[FechaInsercion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXPropiedad](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[FechaInsercion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_UsuarioXPropiedad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCConsumo]  WITH CHECK ADD  CONSTRAINT [FK_CCConsumo_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCConsumo] CHECK CONSTRAINT [FK_CCConsumo_ConceptoCobro]
GO
ALTER TABLE [dbo].[CCFijo]  WITH CHECK ADD  CONSTRAINT [FK_CCFijo_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCFijo] CHECK CONSTRAINT [FK_CCFijo_ConceptoCobro]
GO
ALTER TABLE [dbo].[CCInteresMoratorio]  WITH CHECK ADD  CONSTRAINT [FK_CCInteresMoratorio_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCInteresMoratorio] CHECK CONSTRAINT [FK_CCInteresMoratorio_ConceptoCobro]
GO
ALTER TABLE [dbo].[CCPorcentaje]  WITH CHECK ADD  CONSTRAINT [FK_CCPorcentaje_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCPorcentaje] CHECK CONSTRAINT [FK_CCPorcentaje_ConceptoCobro]
GO
ALTER TABLE [dbo].[CCXPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_CCXPropiedad_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCXPropiedad] CHECK CONSTRAINT [FK_CCXPropiedad_ConceptoCobro]
GO
ALTER TABLE [dbo].[CCXPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_CCXPropiedad_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[CCXPropiedad] CHECK CONSTRAINT [FK_CCXPropiedad_Propiedad]
GO
ALTER TABLE [dbo].[PropiedadXPropietario]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadXPropietario_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[PropiedadXPropietario] CHECK CONSTRAINT [FK_PropiedadXPropietario_Propiedad]
GO
ALTER TABLE [dbo].[PropiedadXPropietario]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadXPropietario_Propietario] FOREIGN KEY([IDPropietario])
REFERENCES [dbo].[Propietario] ([ID])
GO
ALTER TABLE [dbo].[PropiedadXPropietario] CHECK CONSTRAINT [FK_PropiedadXPropietario_Propietario]
GO
ALTER TABLE [dbo].[Propietario]  WITH CHECK ADD  CONSTRAINT [FK_Propietario_TipoID] FOREIGN KEY([TipoId])
REFERENCES [dbo].[TipoID] ([ID])
GO
ALTER TABLE [dbo].[Propietario] CHECK CONSTRAINT [FK_Propietario_TipoID]
GO
ALTER TABLE [dbo].[PropietarioJuridico]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadJuridica_Propietario] FOREIGN KEY([IDPropietario])
REFERENCES [dbo].[Propietario] ([ID])
GO
ALTER TABLE [dbo].[PropietarioJuridico] CHECK CONSTRAINT [FK_PropiedadJuridica_Propietario]
GO
ALTER TABLE [dbo].[PropietarioJuridico]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadJuridica_TipoID] FOREIGN KEY([IDTipoIdResponsable])
REFERENCES [dbo].[TipoID] ([ID])
GO
ALTER TABLE [dbo].[PropietarioJuridico] CHECK CONSTRAINT [FK_PropiedadJuridica_TipoID]
GO
ALTER TABLE [dbo].[UsuarioXPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXPropiedad_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[UsuarioXPropiedad] CHECK CONSTRAINT [FK_UsuarioXPropiedad_Propiedad]
GO
ALTER TABLE [dbo].[UsuarioXPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXPropiedad_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[UsuarioXPropiedad] CHECK CONSTRAINT [FK_UsuarioXPropiedad_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[LeerConceptoCobro]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeerConceptoCobro]

AS

BEGIN
	BEGIN TRY
		BEGIN TRAN

			--ELIMINAR DATOS BASURA DE LA BASE 
			DELETE FROM [DBO].[CCFijo]
			DELETE FROM [DBO].[CCConsumo]
			DELETE FROM [DBO].[CCPorcentaje]
			DELETE FROM [DBO].[CCInteresMoratorio]
			DELETE FROM [DBO].[ConceptoCobro]

			DECLARE @CC xml
			SELECT @CC = C

			FROM OPENROWSET (BULK 'C:\Users\mikom\Desktop\xml\Concepto de Cobro.xml', SINGLE_BLOB) AS CC(C)
			SELECT @CC
			DECLARE @hdoc int

			EXEC sp_xml_preparedocument @hdoc OUTPUT, @CC
			INSERT INTO [dbo].[ConceptoCobro] (
				[ID], [Nombre],[DiaCorte],[DiasRestantesVigencia],
				[EsRecurrente],[EsFijo],[TasaInteresMor],[EsImpuesto],[Monto],[Activo]
			)

			SELECT [id] ,[nombre] ,	[diaCobro] ,[DiasVence] ,[EsRecurrente] ,[EsFijo] ,	[TasaIntMor] ,	[Impuesto] ,[Monto],1
			FROM OPENXML (@hdoc,'Conceptos_de_Cobro/conceptocobro', 1)
				WITH(
					[id] int '@id' ,
					[nombre] VARCHAR(1000) '@Nombre',
					[diaCobro] int '@DiaCobro',
					[DiasVence] int '@QDiasVencimiento',
					[EsRecurrente] VARCHAR(2) '@EsRecurrente',
					[EsFijo] VARCHAR(2) '@EsFijo',
					[TasaIntMor] VARCHAR(2) '@TasaInteresMoratoria',
					[Impuesto] VARCHAR(2) '@EsImpuesto' ,
					[Monto] money '@Monto'
					);



			--INSERTS DE SUBTABLAS DE CC

			--INSERT CCPORCENTAJE 

			INSERT INTO [dbo].[CCPorcentaje] ([IDCC],[ValorPorcentaje])
			SELECT *
			FROM OPENXML (@hdoc,'Conceptos_de_Cobro/conceptocobro', 1)
				WITH(
					[id] int '@id',
					[valor] real '@ValorPorcentaje'
				)
			WHERE [valor] != '';
			

			--INSERT CCFIJO

			INSERT INTO [dbo].[CCFijo] ([IDCC],[Monto])
			SELECT *
			FROM OPENXML (@hdoc,'Conceptos_de_Cobro/conceptocobro', 1)
				WITH(
					[id] int '@id',
					[valor] MONEY '@Monto'
				)
			WHERE [valor] != 0;
			

			--INSERT CCINTERESMORATORIO 

			/*INSERT INTO [dbo].[CCInteresMoratorio] ([IDCC])
			SELECT *
			FROM OPENXML (@hdoc,'Conceptos_de_Cobro/conceptocobro', 1)
				WITH(
					id int '@id',
					valor VARCHAR(2) '@TasaInteresMoratoria'
				)
			WHERE  != '';
			*/

			INSERT INTO [dbo].[CCConsumo] ([IDCC],[ValorMetrosCubicos])
			SELECT *
			FROM OPENXML (@hdoc,'Conceptos_de_Cobro/conceptocobro', 1)
				WITH(
					[id] int '@id',
					[valorM3] real '@ValorM3'
				)
			WHERE [valorM3] != 0;


		COMMIT
	  END TRY

	  BEGIN CATCH 
		ROLLBACK;
		THROW 70001,'Error en la insercion de los tipos',1;
	  END CATCH
  END 
GO
/****** Object:  StoredProcedure [dbo].[LeerOperaciones]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeerOperaciones]

AS

BEGIN
	BEGIN TRY
		BEGIN TRAN
		

			DELETE FROM PropiedadXPropietario
			DELETE FROM UsuarioXPropiedad
			DELETE FROM CCXPropiedad
			DELETE FROM PropietarioJuridico

			DELETE FROM Propiedad
			DELETE FROM Propietario
			DELETE FROM Usuario

			DECLARE @Varios XML
			DECLARE @tablaFechas table (fecha date);
			DECLARE @tablaPropietario table ([nom] VARCHAR(100),[ident] VARCHAR(20),[tipo] int,[fech] date,[Activo] bit);
			DECLARE @tablaUsuario table ([nombre] VARCHAR(100),[contrasena] VARCHAR(100),[Fech] DATE, [Activo] BIT);  
			DECLARE @tablaPropiedad table ([NF] VARCHAR(20),[Val] MONEY,[Dir] VARCHAR(300),[Fech] DATE, [Activo] BIT); 
			DECLARE @tablaPropJurid table ([IDPropietario] int,[IDTipo] int	,[NumIdResponsable] VARCHAR(20),[NumIdJurid] VARCHAR(20),[Responsable] VARCHAR(100),[Fech] DATE);
			SET NOCOUNT ON 

			DECLARE @fechaMin DATE
			DECLARE @fechaMax DATE

			SELECT @Varios = C	
			

			FROM OPENROWSET (BULK 'C:\Users\mikom\Desktop\xml\Operaciones2.xml', SINGLE_BLOB) AS Varios(C)
			
			DECLARE @hdoc int

			EXEC sp_xml_preparedocument @hdoc OUTPUT, @Varios

			INSERT INTO @tablaFechas ([fecha])
			SELECT convert(date, fechaInsercion, 121) [fechaInsercion]
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia', 1)

			WITH([fechaInsercion] VARCHAR (40) '@fecha');
			----------------------------------------------------------------
			
			----------------------------------------------------
			-------CREACION TABLA FECHAS Y VARIABLES DATE-------
			----------------------------------------------------

			SELECT @fechaMax = MAX(fecha) FROM @tablaFechas 
			SELECT @fechaMin = MIN(fecha) FROM @tablaFechas 
			
			DECLARE @fechaActual date
			SET @fechaActual = @fechaMin;


			----------------------------------------------
			-------INSERCION DATOS VARIABLES TABLAS-------
			----------------------------------------------

			---- INSERT PROPIEDADES ----
			INSERT INTO @tablaPropiedad ([NF],[Val],[Dir],[Fech],[Activo])

			SELECT [NumFinca],[valor],[direccion],convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Propiedad', 2)
				WITH(
					[NumFinca] VARCHAR(20) '@NumFinca' ,
					[valor]  MONEY '@Valor',
					[direccion] VARCHAR(300) '@Direccion',
					[fechaLeida] VARCHAR(40) '../@fecha'
				);
			
			------------------------------
			----INSERT DE PROPIETARIOS----

			INSERT INTO @tablaPropietario (nom,ident,tipo,fech,Activo)

			SELECT [Nombre],[identi],[tipo],convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Propietario', 2)
				WITH(
					[Nombre] VARCHAR(100) '@Nombre' ,
					[identi]  VARCHAR(20) '@identificacion',
					[tipo] int '@TipoDocIdentidad',
					[fechaLeida] VARCHAR(100) '../@fecha'
				);

			--------------------------
			----INSERT DE USUARIOS----
			
			INSERT INTO @tablaUsuario 
			([nombre] ,[contrasena] ,Fech , [Activo] )

			SELECT [nombre], [contrasena],convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Usuario', 1)
				WITH(
					[nombre] VARCHAR(100) '@Nombre',
					[contrasena] VARCHAR(100) '@password',
					[fechaLeida] VARCHAR(100) '../@fecha'
				);


			--------------------------
			----INSERT DE PropJurid----
			INSERT INTO @tablaPropJurid(NumIdResponsable,IDTipo,Responsable,[Fech],[NumIdJurid])
			SELECT [DocidRepresentante],[TipDocIdRepresentante],[Representante],convert(date, [fechaLeida], 121)[fechaLeida],[docidPersonaJuridica]
			FROM OPENXML (@hdoc, 'Operaciones_por_Dia/OperacionDia/PersonaJuridica',1)
				WITH(	[DocidRepresentante] VARCHAR(100) '@DocidRepresentante',
						[TipDocIdRepresentante] VARCHAR(30) '@TipDocIdRepresentante',
						[docidPersonaJuridica] VARCHAR(100) '@docidPersonaJuridica',
						[fechaLeida] VARCHAR(100)	'../@fecha',
						[Representante]		VARCHAR(100) '@Nombre');


			--------------------------------------------------------
			WHILE (@fechaActual<@fechaMax)
				BEGIN
					SET NOCOUNT ON 
					--------------------------
					----INSERT PROPIEDADES----
					INSERT INTO [dbo].[Propiedad] ([NumFinca],[Valor],[Direccion],[FechaInsercion],[Activo])
					SELECT [NF],[Val],[Dir],[Fech],1  FROM @tablaPropiedad 
					WHERE [@tablaPropiedad].[Fech] = @fechaActual ;

					
					------------------------------
					----INSERT DE PROPIETARIOS----

					INSERT INTO [dbo].[Propietario] ([Nombre],[NumId],[TipoId],[FechaInsercion],[Activo] )

					SELECT nom,ident,tipo,fech,1 FROM @tablaPropietario
					WHERE [@tablaPropietario].[fech] = @fechaActual;


					--------------------------
					----INSERT DE USUARIOS----
			
					INSERT INTO [dbo].[Usuario] ([Nombre],[Password],[FechaInsercion],[Activo])				
				SELECT [nombre] ,[contrasena] ,Fech , [Activo] FROM @tablaUsuario
					WHERE [@tablaUsuario].[Fech] = @fechaActual ;
						


			
			--------------------------------------
					----INSERT DE PROPIETARIO JURIDICO----
			
					INSERT INTO [dbo].[PropietarioJuridico] ([IDPropietario],[IDTipoIdResponsable],[NumIdResponsable],[Responsable])
					SELECT [Propietario].[ID],[TipoId],[NumIdResponsable], [Responsable] FROM @tablaPropJurid
					INNER JOIN Propietario ON [NumId] = [NumIdJurid]
					WHERE [@tablaPropJurid].[Fech] = @fechaActual;

					---------------------------------
					-- INSERTS DE TABLAS INTERMEDIAS --
					---------------------------------
			
			
					----INSERT PROPIEDAD por PROPIETARIO----

					INSERT INTO [dbo].[PropiedadXPropietario] ([IDPropiedad],[IDPropietario],[FechaInsercion],[Activo])

					SELECT Propiedad.[ID], Propietario.[ID], @fechaActual,1
					FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/PropiedadVersusPropietario', 1)
						WITH(
							[numFincaxml] VARCHAR(20) '@NumFinca' ,
							[numCedula]  VARCHAR(20) '@identificacion',
							[fechaLeida] VARCHAR(100) '../@fecha'
						)
						INNER JOIN Propiedad ON [numFincaxml] = Propiedad.NumFinca 
						INNER JOIN Propietario ON [numCedula] = Propietario.NumId
						WHERE [fechaLeida] = @fechaActual ;


					--INSERT DE USUARIOS por PROPIEDAD


					INSERT INTO [dbo].[UsuarioXPropiedad]   ([IDPropiedad],[IDUsuario],[FechaInsercion],[Activo])

					SELECT Propiedad.[ID],Usuario.[ID],@fechaActual,1 

					FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/UsuarioVersusPropiedad', 1)
						WITH(
							[numFincaXml] VARCHAR(20)'@NumFinca' ,
							[nombreUser]  VARCHAR(100) '@nombreUsuario',
							[fechaLeida] VARCHAR(100) '../@fecha'
						)
						INNER JOIN Propiedad ON [numFincaXml] = Propiedad.NumFinca 
						INNER JOIN Usuario ON [nombreUser] = Usuario.Nombre
						WHERE [fechaLeida] = @fechaActual ;	


					--INSERT DE CC POR PROPIEDADAES

					INSERT INTO [dbo].[CCXPropiedad]   ([IDCC],[IDPropiedad],[FechaInsercion],[Activo])

					SELECT ConceptoCobro.[ID],Propiedad.[ID],@fechaActual,1

					FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/ConceptoCobroVersusPropiedad', 1)
						WITH(
							[numFincaXml] VARCHAR(20) '@NumFinca' ,
							[idCobro]  VARCHAR(20) '@idcobro',
							[fechaLeida] VARCHAR(100) '../@fecha'
						)
						INNER JOIN Propiedad ON [numFincaXml] = Propiedad.[NumFinca] 
						INNER JOIN ConceptoCobro ON [idCobro] = ConceptoCobro.[ID]
						WHERE [fechaLeida] = @fechaActual ;
				
					SELECT @fechaActual = DATEADD(DAY,1,@fechaActual);
				END
		COMMIT
	  END TRY

	  BEGIN CATCH 
		ROLLBACK;
		THROW 70001,'Error en la insercion de los tipos',1;
	  END CATCH
  END 
  
GO
/****** Object:  StoredProcedure [dbo].[LeerOperacionesRELOADED]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeerOperacionesRELOADED]

AS

BEGIN
	BEGIN TRY
		BEGIN TRAN
			SET NOCOUNT ON 

			DELETE FROM PropiedadXPropietario
			DELETE FROM UsuarioXPropiedad
			DELETE FROM CCXPropiedad

			DELETE FROM Usuario
			DELETE FROM Propiedad
			DELETE FROM Propietario

			DECLARE @fechaMin DATE
			DECLARE @fechaMax DATE
			
			DECLARE @tablaFechas table (fecha date);
			DECLARE @tablaPropietario table (nom VARCHAR(100),ident VARCHAR(20),tipo int,fech date,Activo bit);
			DECLARE @tablaUsuario table ([nombre] VARCHAR(100),[contrasena] VARCHAR(100),Fech DATE, [Activo] BIT);  
			DECLARE @tablaPropiedad table ([NF] VARCHAR(20),[Val] MONEY,[Dir] VARCHAR(300),Fech DATE, [Activo] BIT); 


			---Revisar datos y tipo de datos----
			DECLARE @tablaCCXPropiedad table ([IDCC] int,[IDPropiedad] int,[fechaLeida] DATE, [Activo] BIT);
			DECLARE @tablaPropiedadXPropietario table ([IDPropiedad]int,[IDPropietario]int,[fechaLeida] DATE, [Activo] BIT);
			DECLARE @tablaUsuarioXPropiedad table ([IDPropiedad] VARCHAR(20),[IDUsuario] VARCHAR(100),[fechaLeida]  DATE, [Activo] BIT);
			DECLARE @tablaPropJurid table ([IDPropietario] int,[IDTipo] int	,[NumIdResponsable] VARCHAR(20),[Responsable] VARCHAR(100),[Fech] DATE);
			
			SET NOCOUNT ON 
			DECLARE @Varios XML
			SELECT @Varios = C	
		
			FROM OPENROWSET (BULK 'C:\Users\mikom\Desktop\xml\Operaciones.xml', SINGLE_BLOB) AS Varios(C)
			SELECT @Varios	
			DECLARE @hdoc int

			EXEC sp_xml_preparedocument @hdoc OUTPUT, @Varios


			----------------------------------------------------
			-------CREACION TABLA FECHAS Y VARIABLES DATE-------
			----------------------------------------------------

			INSERT INTO @tablaFechas ([fecha])
			SELECT convert(date, fechaInsercion, 121) [fechaInsercion]
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia', 1)

			WITH([fechaInsercion] VARCHAR (40)'Dia/@fecha');

			SELECT @fechaMax = MAX(fecha) FROM @tablaFechas 
			SELECT @fechaMin = MIN(fecha) FROM @tablaFechas 
			
			DECLARE @fechaActual date
			SET @fechaActual = @fechaMin;


			----------------------------------------------
			-------INSERCION DATOS VARIABLES TABLAS-------
			----------------------------------------------

			---- INSERT PROPIEDADES ----
			INSERT INTO @tablaPropiedad ([NF],[Val],[Dir],[Fech],[Activo])

			SELECT [NumFinca],[valor],[direccion],convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Propiedad', 1)
				WITH(
					[NumFinca] VARCHAR(20) '@NumFinca' ,
					[valor]  MONEY '@Valor',
					[direccion] VARCHAR(300) '@Direccion',
					[fechaLeida] VARCHAR(40) '../Dia/@fecha'
				);
			------------------------------
			----INSERT DE PROPIETARIOS----

			INSERT INTO @tablaPropietario (nom,ident,tipo,fech,Activo)

			SELECT [Nombre],[identi],[tipo],convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Propietario', 2)
				WITH(
					[Nombre] VARCHAR(100) '@Nombre' ,
					[identi]  VARCHAR(20) '@identificacion',
					[tipo] int '@TipoDocIdentidad',
					[fechaLeida] VARCHAR(100) '../Dia/@fecha'
				);

			--------------------------
			----INSERT DE USUARIOS----
			
			INSERT INTO @tablaUsuario 
			([nombre] ,[contrasena] ,Fech , [Activo] )

			SELECT [nombre], [contrasena],convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Usuario', 1)
				WITH(
					[nombre] VARCHAR(100) '@Nombre',
					[contrasena] VARCHAR(100) '@password',
					[fechaLeida] VARCHAR(100) '../Dia/@fecha'
				);


			----------------------------------------
			----INSERT DE PROPIETARIOS JURIDICOS----

			INSERT INTO @tablaPropJurid(IDPropietario,NumIdResponsable,IDTipo,Responsable,[Fech])
			SELECT [@tablaPropietario].ident,[DocidRepresentante],[TipDocIdRepresentante],[Representante],convert(date, [fechaLeida], 121)[fechaLeida]
			FROM OPENXML (@hdoc, 'Operaciones_por_Dia/OperacionDia/PersonaJuridica',1)
				WITH(	[DocidRepresentante] VARCHAR(100) '@DocidRepresentante',
						[TipDocIdRepresentante] VARCHAR(100) '@TipDocIdRepresentante',
						[docidPersonaJuridica] VARCHAR(100) '@docidPersonaJuridica',
						[fechaLeida] VARCHAR(100)	'../Dia/@fecha',
						[Representante]		VARCHAR(100) '@Nombre')
				INNER JOIN @tablaPropietario ON [docidPersonaJuridica] = [@tablaPropietario].[ident]


			-----------------------------------
			-- INSERTS DE TABLAS INTERMEDIAS --
			-----------------------------------
			
			/*
			----------------------------------------
			----INSERT PROPIEDAD por PROPIETARIO----
			----------------------------------------
			INSERT INTO @tablaPropiedadXPropietario ([IDPropiedad],[IDPropietario],[fechaLeida],[Activo])

			SELECT [@tablaPropiedad].[ID], [@tablaPropietario].[ID], convert(date, fechaLeida, 121) [fechaLeida],1
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/PropiedadVersusPropietario', 1)
				WITH(
					[numFincaxml] VARCHAR(20) '@NumFinca' ,
					[numCedula]  VARCHAR(20) '@identificacion',
					[fechaLeida] VARCHAR(100) '../Dia/@fecha'
				)
				INNER JOIN @tablaPropiedad ON [numFincaxml] = [@tablaPropiedad].[NF]
				INNER JOIN @tablaPropietario ON [numCedula] = [@tablaPropietario].[ident];
				


			------------------------------------
			--INSERT DE USUARIOS por PROPIEDAD--
			------------------------------------

			INSERT INTO @tablaUsuarioXPropiedad  ([IDPropiedad],[IDUsuario],[fechaLeida],[Activo])

			SELECT [@tablaPropiedad].[ID],[@tablaUsuario].[ID],convert(date, fechaLeida, 121) [fechaLeida],1

			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/UsuarioVersusPropiedad', 1)
				WITH(
					[numFincaXml] VARCHAR(20)'@NumFinca' ,
					[nombreUser]  VARCHAR(100) '@nombreUsuario',
					[fechaLeida] VARCHAR(100) '../Dia/@fecha'
				)
				INNER JOIN @tablaPropiedad ON [numFincaXml] = [@tablaPropiedad].[NF]
				INNER JOIN @tablaUsuario ON [nombreUser] = [@tablaUsuario].[nom]


			---------------------------------
			--INSERT DE CC POR PROPIEDADAES--
			---------------------------------
				
			INSERT INTO @tablaCCXPropiedad   ([IDCC],[IDPropiedad],[fechaLeida],[Activo])

			SELECT ConceptoCobro.[ID],[@tablaPropiedad].[ID],@fechaActual,1

			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/ConceptoCobroVersusPropiedad', 1)
				WITH(
					[numFincaXml] VARCHAR(20) '@NumFinca' ,
					[idCobro]  VARCHAR(20) '@idcobro',
					[fechaLeida] VARCHAR(100) '../Dia/@fecha'
				)
				INNER JOIN @tablaPropiedad ON [numFincaXml] = [@tablaPropiedad].[NF] 
				INNER JOIN ConceptoCobro ON [idCobro] = ConceptoCobro.[ID]
				WHERE [fechaLeida] = @fechaActual;
								
					*/

			------------------------------------------------------------
			-------INICIAN INSERTS A TABLAS ORIGINALES EN WHILE---------
			------------------------------------------------------------
			
			WHILE (@fechaActual<@fechaMax) 
				BEGIN
					SET NOCOUNT ON 

					--------------------------
					----INSERT PROPIEDADES----
					INSERT INTO [dbo].[Propiedad] ([NumFinca],[Valor],[Direccion],[FechaInsercion],[Activo])
					SELECT [NF],[Val],[Dir],[Fech],1  FROM @tablaPropiedad 
					WHERE [@tablaPropiedad].[Fech] = @fechaActual ;

					
					------------------------------
					----INSERT DE PROPIETARIOS----

					INSERT INTO [dbo].[Propietario] ([Nombre],[NumId],[TipoId],[FechaInsercion],[Activo] )

					SELECT nom,ident,tipo,fech,1 FROM @tablaPropietario
					WHERE [@tablaPropietario].[fech] = @fechaActual;


					--------------------------
					----INSERT DE USUARIOS----
			
					INSERT INTO [dbo].[Usuario] ([Nombre],[Password],[FechaInsercion],[Activo])

					SELECT [nombre] ,[contrasena] ,Fech , [Activo] FROM @tablaUsuario
					WHERE [@tablaUsuario].[Fech] = @fechaActual ;

					--------------------------------------
					----INSERT DE PROPIETARIO JURIDICO----
			
					INSERT INTO [dbo].[PropietarioJuridico] ([IDPropietario],[IDTipoIdResponsable],[NumIdResponsable],[Responsable])
					SELECT [IDPropietario],[IDTipo],[NumIdResponsable], [Responsable] FROM @tablaPropJurid
					WHERE [@tablaPropJurid].[Fech] = @fechaActual;


					
					---------------------------------
					-- INSERTS DE TABLAS INTERMEDIAS --
					---------------------------------
			
			
					----INSERT PROPIEDAD por PROPIETARIO----

					INSERT INTO [dbo].[PropiedadXPropietario] ([IDPropiedad],[IDPropietario],[FechaInsercion],[Activo])

					SELECT Propiedad.[ID], Propietario.[ID], @fechaActual,1
					FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/PropiedadVersusPropietario', 1)
						WITH(
							[numFincaxml] VARCHAR(20) '@NumFinca' ,
							[numCedula]  VARCHAR(20) '@identificacion',
							[fechaLeida] VARCHAR(100) '../Dia/@fecha'
						)
						INNER JOIN Propiedad ON [numFincaxml] = Propiedad.NumFinca 
						INNER JOIN Propietario ON [numCedula] = Propietario.NumId
						WHERE [fechaLeida] = @fechaActual ;


					--INSERT DE USUARIOS por PROPIEDAD


					INSERT INTO [dbo].[UsuarioXPropiedad]   ([IDPropiedad],[IDUsuario],[FechaInsercion],[Activo])

					SELECT Propiedad.[ID],Usuario.[ID],@fechaActual,1 

					FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/UsuarioVersusPropiedad', 1)
						WITH(
							[numFincaXml] VARCHAR(20)'@NumFinca' ,
							[nombreUser]  VARCHAR(100) '@nombreUsuario',
							[fechaLeida] VARCHAR(100) '../Dia/@fecha'
						)
						INNER JOIN Propiedad ON [numFincaXml] = Propiedad.NumFinca 
						INNER JOIN Usuario ON [nombreUser] = Usuario.Nombre
						WHERE [fechaLeida] = @fechaActual ;	


					--INSERT DE CC POR PROPIEDADAES

					INSERT INTO [dbo].[CCXPropiedad]   ([IDCC],[IDPropiedad],[FechaInsercion],[Activo])

					SELECT ConceptoCobro.[ID],Propiedad.[ID],@fechaActual,1

					FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/ConceptoCobroVersusPropiedad', 1)
						WITH(
							[numFincaXml] VARCHAR(20) '@NumFinca' ,
							[idCobro]  VARCHAR(20) '@idcobro',
							[fechaLeida] VARCHAR(100) '../Dia/@fecha'
						)
						INNER JOIN Propiedad ON [numFincaXml] = Propiedad.[NumFinca] 
						INNER JOIN ConceptoCobro ON [idCobro] = ConceptoCobro.[ID]
						WHERE [fechaLeida] = @fechaActual ;

					/*
					----------------------------------------
					----INSERT PROPIEDAD por PROPIETARIO----

					INSERT INTO [dbo].[PropiedadXPropietario] ([IDPropiedad],[IDPropietario],[FechaInsercion],[Activo])

					SELECT [IDPropiedad],[IDPropietario],[fechaLeida], [Activo]  FROM @tablaPropiedadXPropietario
					WHERE [@tablaPropiedadXPropietario].[fechaLeida] = @fechaActual ;


					----------------------------------------
					----INSERT CC por PROPIETARIO----

					INSERT INTO [dbo].[CCXPropiedad] ([IDPropiedad],[IDCC],[FechaInsercion],[Activo])

					SELECT [IDPropiedad],[IDCC],[fechaLeida], [Activo]  FROM @tablaCCXPropiedad
					WHERE [@tablaCCXPropiedad].[fechaLeida] = @fechaActual ;
					*/

				SELECT @fechaActual = DATEADD(DAY,1,@fechaActual);
			END

			
		COMMIT
	  END TRY

	  BEGIN CATCH 
		ROLLBACK;
		THROW 70001,'Error en la insercion de los tipos',1;
	  END CATCH
  END 
GO
/****** Object:  StoredProcedure [dbo].[LeerTipoID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeerTipoID]

AS


BEGIN
	BEGIN TRY
		BEGIN TRAN

			--ELIMINAR DATOS BASURA DE LA BASE 
			DELETE FROM [DBO].[TipoID]
			
			DECLARE @tipoID xml
			SELECT @tipoID = C

			FROM OPENROWSET (BULK 'C:\Users\mikom\Desktop\xml\TipoDocumentoIdentidad.xml', SINGLE_BLOB) AS TipoId(C)
			SELECT @tipoID
			DECLARE @hdoc int
			
			EXEC sp_xml_preparedocument @hdoc OUTPUT, @tipoID

			INSERT INTO [dbo].[TipoID] ([ID], [Descripcion],[Activo])
			SELECT [codigoDoc],[descripcion],1
			FROM OPENXML (@hdoc,'TipoDocIdentidad/TipoDocId', 1)
				WITH(codigoDoc VARCHAR(100),
					descripcion VARCHAR(100))

		COMMIT
	  END TRY

	  BEGIN CATCH 
		ROLLBACK;
		THROW 70001,'Error en la insercion de los tipos',1;
	  END CATCH
  END 
GO
/****** Object:  StoredProcedure [dbo].[LeerUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LeerUsuario]

AS
BEGIN
	BEGIN TRY
		BEGIN TRAN		
			
			--ELIMINAR DATOS BASURA DE LA BASE
			DELETE FROM [DBO].[Usuario]

			DECLARE @Usuario xml
			SELECT @Usuario = C
			
			FROM OPENROWSET (BULK 'C:\Users\mikom\Desktop\xml\Administradores.xml', SINGLE_BLOB) AS Usuario(C)
			SELECT @Usuario
			DECLARE @hdoc int

			EXEC sp_xml_preparedocument @hdoc OUTPUT, @Usuario

			INSERT INTO [dbo].[Usuario] ([Nombre], [Password],[Activo],[FechaInsercion])
			SELECT nombre,contrasena,1,GETDATE()
			FROM OPENXML (@hdoc,'Administrador/UsuarioAdmi', 1)
				WITH(nombre VARCHAR(100) '@user',
					contrasena VARCHAR(100) '@password');

		COMMIT
	  END TRY

	  BEGIN CATCH 
		ROLLBACK;
		THROW 70001,'Error en la insercion de los Usuarios',1;
	  END CATCH
  END 
  
GO
/****** Object:  StoredProcedure [dbo].[LeerVarios]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeerVarios]

AS

BEGIN
	BEGIN TRY
		BEGIN TRAN

			DELETE FROM PropiedadXPropietario
			DELETE FROM UsuarioXPropiedad
			DELETE FROM CCXPropiedad
			DELETE FROM PropietarioJuridico

			DELETE FROM Propiedad
			DELETE FROM Propietario
			DELETE FROM Usuario

			DECLARE @Varios xml
			SELECT @Varios = C	

			FROM OPENROWSET (BULK 'C:\Users\esala\OneDrive\Escritorio\varios.xml', SINGLE_BLOB) AS Varios(C)
			SELECT @Varios	
			DECLARE @hdoc int

			EXEC sp_xml_preparedocument @hdoc OUTPUT, @Varios


			----INSERT PROPIEDADES----

			INSERT INTO [dbo].[Propiedad] ([NumFinca],[Valor],[Direccion],[FechaInsercion])

			SELECT [NumFinca],[valor],[direccion],convert(datetime, fechaInsercion, 103) [fechaInsercion]
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Propiedad', 1)
				WITH(
					[NumFinca] int '@NumFinca' ,
					[Valor]  money '@Valor',
					[Direccion] VARCHAR(300) '@Direccion'	,
					[fechaInsercion] VARCHAR (40)'../Dia/@fecha'
				);

			
			----INSERT DE PROPIETARIOS----

			INSERT INTO [dbo].[Propietario] (
				[Nombre],[NumId],[TipoId],[FechaInsercion] )

			SELECT [Nombre],[identi],[tipo],convert(datetime, Fecha, 103) [Fecha]
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Propietario', 2)
				WITH(
					[Nombre] VARCHAR(100) '@Nombre' ,
					[identi]  VARCHAR(100) '@identificacion',
					[tipo] int '@TipoDocIdentidad',
					[Fecha] VARCHAR(100) '../Dia/@fecha'
				);


			----INSERT DE USUARIOS----
			
			INSERT INTO [dbo].[Usuario]     (
			[Nombre],[Password],[FechaInsercion])

			SELECT [nombre], [contrasena] , convert(datetime, fechaInsercion, 103) [fechaInsercion]
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/Usuario', 1)
				WITH(
					[nombre] VARCHAR(100) '@Nombre',
					[contrasena] VARCHAR(100) '@password',
					[fechaInsercion] VARCHAR(100) '../Dia/@fecha'
				);

	
			----INSERT DE PROPIETARIOS JURIDICOS----

			INSERT INTO [dbo].[PropietarioJuridico]   ([IDPropietario],[IDTipoIdResponsable],[NumIdResponsable],[Responsable])

			SELECT Propietario.[ID], [TipDocIdRepresent], [DocidRepresent], [NombreRepresent] 
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/PersonaJuridica', 1)
				WITH(
					[NombreRepresent] VARCHAR(100) '@Nombre',
					[TipDocIdRepresent] int '@TipDocIdRepresentante',
					[DocidRepresent]  VARCHAR(20) '@DocidRepresentante',
					[DocidJuridico]  VARCHAR(20) '@docidPersonaJuridica'
				)
				INNER JOIN Propietario ON [DocidJuridico] = Propietario.NumId;
			 
			 
			---------------------------------
			-- INSERTS DE TABLAS INTERMEDIAS --
			---------------------------------
			
			
			----INSERT PROPIEDAD por PROPIETARIO----

			INSERT INTO [dbo].[PropiedadXPropietario] ([IDPropiedad],[IDPropietario],[FechaInsercion])

			SELECT Propiedad.[ID], Propietario.[ID], convert(datetime, fecha, 103) [fecha]
			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/PropiedadVersusPropietario', 1)
				WITH(
					[numFincaxml] int '@NumFinca' ,
					[numCedula]  VARCHAR (20) '@identificacion',
					[fecha] VARCHAR (100) '../Dia/@fecha'
				)
				INNER JOIN Propiedad ON [numFincaxml] = Propiedad.NumFinca 
				INNER JOIN Propietario ON [numCedula] = Propietario.NumId;


			--INSERT DE USUARIOS por PROPIEDAD


			INSERT INTO [dbo].[UsuarioXPropiedad]   ([IDPropiedad],[IDUsuario],[FechaInsercion])

			SELECT Propiedad.[ID],Usuario.[ID],convert(datetime, fecha, 103) [fecha] 

			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/UsuarioVersusPropiedad', 1)
				WITH(
					[numFincaXml] int '@NumFinca' ,
					[nombreUser]  VARCHAR(100) '@nombreUsuario',
					[fecha]  varchar(100) '../Dia/@fecha'
				)
				INNER JOIN Propiedad ON [numFincaXml] = Propiedad.NumFinca 
				INNER JOIN Usuario ON [nombreUser] = Usuario.Nombre;


			--INSERT DE CC POR PROPIEDADAES

			INSERT INTO [dbo].[CCXPropiedad]   ([IDCC],[IDPropiedad],[FechaInsercion])

			SELECT ConceptoCobro.[ID],Propiedad.[ID],convert(datetime, fecha, 103) [fecha] 

			FROM OPENXML (@hdoc,'Operaciones_por_Dia/OperacionDia/ConceptoCobroVersusPropiedad', 1)
				WITH(
					[numFincaXml] int '@NumFinca' ,
					[idCobro]  int '@identificacion',
					[fecha] varchar(100) '../Dia/@fecha'
				)
				INNER JOIN Propiedad ON [numFincaXml] = Propiedad.[NumFinca] 
				INNER JOIN ConceptoCobro ON [idCobro] = ConceptoCobro.[ID];
			
			 

			 /*ACÁ VAN TODOS LOS UPDATES DONDE TENEMOS QUE SETTEAR ACTIVO A 1 
			 Y ES SOLAMENTE HACER LO MISMO PARA CADA TABLA*/
			 UPDATE [Usuario]
			 SET Activo = 1;

			 UPDATE [Propiedad]
			 SET Activo = 1;

			 UPDATE [Propietario]
			 SET Activo = 1;

			 UPDATE [CCXPropiedad]
			 SET Activo = 1;

			 UPDATE [PropiedadXPropietario]
			 SET Activo = 1;

			 UPDATE [UsuarioXPropiedad]
			 SET Activo = 1;

		COMMIT
	  END TRY

	  BEGIN CATCH 
		ROLLBACK;
		THROW 70001,'Error en la insercion de los tipos',1;
	  END CATCH
  END 
GO
/****** Object:  StoredProcedure [dbo].[SPDCCXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPDCCXPropiedad]
	@InNumFinca varchar(20),
	@InIDCC int 
	
AS
BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		DECLARE @IdPropiedad int 
		SELECT @IdPropiedad = P.ID FROM [dbo].[Propiedad] AS P WHERE P.NumFinca = @InNumFinca

		UPDATE [dbo].[CCXPropiedad]
		SET Activo = 0
		WHERE [IDCC] = @InIDCC AND [IDPropiedad] = @IdPropiedad

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SPDConceptoCobro]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPDConceptoCobro] 
    @InID int
AS 

BEGIN
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON

		UPDATE [dbo].[ConceptoCobro]
		SET [Activo] = 0   
		WHERE  [ID] = @InID

		UPDATE [dbo].[CCXPropiedad]
		SET [Activo] = 0
		WHERE [IDCC] = @InID

		COMMIT
		END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END


	
GO
/****** Object:  StoredProcedure [dbo].[SPDPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPDPropiedad]
	@InNumFinca varchar(20)
AS

BEGIN
	BEGIN TRY

		DECLARE @IdPropiedad int 
		SELECT @IdPropiedad = P.ID FROM [dbo].Propiedad AS P WHERE P.NumFinca = @InNumFinca
		
		BEGIN TRAN
		SET NOCOUNT ON

			UPDATE [dbo].[Propiedad] 
			SET Activo = 0
			WHERE [ID] = @IdPropiedad
	
			UPDATE [dbo].[PropiedadXPropietario] 
			SET Activo = 0
			WHERE [IDPropiedad] = @IdPropiedad

			UPDATE [dbo].[UsuarioXPropiedad] 
			SET Activo = 0
			WHERE [IDPropiedad] = @IdPropiedad

			UPDATE [dbo].[CCXPropiedad] 
			SET Activo = 0
			WHERE [IDPropiedad]= @IdPropiedad

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPDPropiedadXPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPDPropiedadXPropietario]
	@InNumFinca varchar(20),
	@InNumId varchar(20)

AS
BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		DECLARE @IdPropiedad int 
		DECLARE @IdPropietario int 

		SELECT @IdPropiedad = P.ID FROM [dbo].[Propiedad] AS P WHERE P.NumFinca = @InNumFinca
		SELECT @IdPropietario = Prop.ID FROM [dbo].[Propietario] AS Prop WHERE Prop.NumId = @InNumId

		UPDATE [dbo].[PropiedadXPropietario] 
		SET Activo = 0
		WHERE [IDPropiedad] = @IdPropiedad AND [IDPropietario] = @IdPropietario 

		END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPDPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPDPropietario]
	@InNumId varchar(20)
AS

BEGIN
	BEGIN TRY

		DECLARE @IdPropietario int 
		SELECT @IdPropietario = P.ID FROM [dbo].[Propietario] AS P WHERE P.NumId = @InNumId

		BEGIN TRAN
		SET NOCOUNT ON

			UPDATE [dbo].[Propietario] 
			SET Activo = 0
			WHERE [ID] = @IdPropietario

			UPDATE [dbo].[PropiedadXPropietario] 
			SET Activo = 0
			WHERE [ID] = @IdPropietario

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPDTipoID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPDTipoID] 
    @InID int
AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		UPDATE [dbo].[TipoID]
		SET [Activo] = 0 
		WHERE  [ID] = @InID

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END


		
GO
/****** Object:  StoredProcedure [dbo].[SPDUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPDUsuario]
	@InUsername varchar(100)
AS

BEGIN
	BEGIN TRY

		DECLARE @IdUsuario int
		SELECT @IdUsuario = U.ID FROM [dbo].[Usuario] AS U WHERE U.Nombre = @InUsername


		BEGIN TRAN 
		SET NOCOUNT ON

			UPDATE [dbo].[Usuario] 
			SET Activo = 0
			WHERE [Usuario].[ID] = @IdUsuario

			UPDATE [dbo].[UsuarioXPropiedad] 
			SET Activo = 0
			WHERE [IDUsuario] = @IdUsuario

		COMMIT
	END TRY  
	BEGIN CATCH  
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH	
END
GO
/****** Object:  StoredProcedure [dbo].[SPDUsuarioXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPDUsuarioXPropiedad]
	@InNumFinca varchar (20),
	@InUsername varchar(100)

AS
BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		DECLARE @IdPropiedad int 
		DECLARE @IdUser int 

		SELECT @IdPropiedad = P.ID FROM [dbo].[Propiedad] AS P WHERE P.NumFinca = @InNumFinca
		SELECT @IdUser = U.ID FROM [dbo].[Usuario] AS U WHERE U.Nombre = @InUsername

		UPDATE [dbo].[UsuarioXPropiedad] 
		SET Activo = 0
		WHERE [IDPropiedad] = @IdPropiedad AND [IDUsuario] = @IdUser

		END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SPICCConsumo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPICCConsumo]
	@InId int,
	@InNombre varchar(100),
	@InTasaInteresMor varchar(2),
	@InDiasRestantesVigencia int,
	@InDiaCorte int,
	@InEsFijo varchar(2),
	@InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money,
	@InValorMetrosCubicos real 
AS 

BEGIN
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON
	
		exec SPIConceptoCobro @InId, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto
		INSERT INTO [dbo].[CCConsumo] ([IDCC], [ValorMetrosCubicos])
		Values ((SELECT IDENT_CURRENT('ConceptoCobro')), @InValorMetrosCubicos)  
		
		COMMIT		
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END



	
GO
/****** Object:  StoredProcedure [dbo].[SPICCFijo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPICCFijo]
	@InId int,
	@InNombre varchar(100),
	@InTasaInteresMor varchar(2),
	@InDiasRestantesVigencia int,
	@InDiaCorte int,
	@InEsFijo varchar(2),
	@InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money 
AS 

BEGIN
	BEGIN TRY	 
		BEGIN TRAN
		SET NOCOUNT ON
	
		exec SPIConceptoCobro @InId, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto
		INSERT INTO [dbo].[CCFijo] ([IDCC],[Monto])
		Values ((SELECT IDENT_CURRENT('ConceptoCobro')), @InMonto)  
	
		COMMIT
		END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1; 
	END CATCH
END

	
GO
/****** Object:  StoredProcedure [dbo].[SPICCInteresMoratorio]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPICCInteresMoratorio]
	@InId int,
	@InNombre varchar(100),
	@InTasaInteresMor varchar(2),
	@InDiasRestantesVigencia int,
	@InDiaCorte int,
	@InEsFijo varchar(2),
	@InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money 
	-- Introducir el paramentro que corresponda @
AS 

BEGIN
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON

		exec SPIConceptoCobro @InId, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto
		INSERT INTO [dbo].[CCInteresMoratorio] ([IDCC])
		Values ((SELECT IDENT_CURRENT('ConceptoCobro')))  
		
		COMMIT
		END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END


	
GO
/****** Object:  StoredProcedure [dbo].[SPICCPorcentaje]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPICCPorcentaje]
	@InId int,
	@InNombre varchar(100),
	@InTasaInteresMor varchar(2),
	@InDiasRestantesVigencia int,
	@InDiaCorte int,
	@InEsFijo varchar(2),
	@InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money,
	@InValorPorcentaje real
AS 

BEGIN
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON
	
		exec SPIConceptoCobro @InId, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto 
		INSERT INTO [dbo].[CCPorcentaje] ([IDCC],[ValorPorcentaje])
		Values ((SELECT IDENT_CURRENT('ConceptoCobro')), @InValorPorcentaje)  
	
		COMMIT
		END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END



	
GO
/****** Object:  StoredProcedure [dbo].[SPICCXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPICCXPropiedad]
	@InNumFinca varchar(20),
    @InIDCC int

AS 

BEGIN
	BEGIN TRY
		BEGIN TRAN
			SET NOCOUNT ON

			DECLARE @idPropiedad int															
			SELECT @idPropiedad = P.ID FROM [dbo].Propiedad as P WHERE P.NumFinca = @InNumFinca
		
		
			DECLARE @idcc int															
			SELECT @idcc= CC.ID FROM [dbo].ConceptoCobro as CC WHERE CC.ID= @InIDCC
		
			SELECT @idcc 
			SELECT @idPropiedad

			IF (@idcc is null OR @idPropiedad is null)
				THROW 70001,'No existe el tipo de concepto ingresado',1;

			INSERT INTO [dbo].[CCXPropiedad] ([IDPropiedad], [IDCC], [FechaInsercion], [Activo])
			VALUES (@idPropiedad, @InIDCC, GETDATE(), 1)
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SPIConceptoCobro]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPIConceptoCobro]
	@InId int,
	@InNombre varchar(100),
	@InTasaInteresMor varchar(2),
	@InDiasRestantesVigencia int,
	@InDiaCorte int,
	@InEsFijo varchar(2),
	@InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money 
AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON
		
		INSERT INTO [dbo].[ConceptoCobro] ([ID], [Nombre], [TasaInteresMor], [DiasRestantesVigencia], [DiaCorte], [EsFijo], [EsRecurrente], [EsImpuesto],[Activo], [Monto])
		Values (@InId, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, 1, @InMonto)       
		
		END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END


	
GO
/****** Object:  StoredProcedure [dbo].[SPIPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPIPropiedad]
	@InNumFinca varchar(20),
	@InValor money,
	@InDireccion varchar(300),
	@InFechaInsercion date
AS

BEGIN
	
	IF (@InNumFinca < 0 OR @InNumFinca IS NULL  OR  @InValor < 0 OR @InValor IS NULL) 
		THROW 70001, 'No se permiten valores vacíos' , 1;
	IF(NOT LEN(@InDireccion ) > 0)
		THROW 70002, 'Hubo un campo vacío y la solicitud no se pudo porcesar',1;
	
	BEGIN TRY  
	SET NOCOUNT ON

		INSERT INTO [dbo].[Propiedad]([NumFinca], [Valor], [Direccion], [FechaInsercion], [Activo])
		Values(@InNumFinca, @InValor, @InDireccion,@InFechaInsercion, 1);

	END TRY  
	BEGIN CATCH 
		THROW 70003,'Hubo un error procesando la solicitud, revise los campos',1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPIPropiedadXPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPIPropiedadXPropietario] 
	@InNumFinca varchar(20),
	@InNumId varchar(20)  
	
AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON 	
		
		DECLARE @IDPropietario int
		DECLARE @IDPropiedad int

		SELECT @IDPropietario = Prop.ID FROM [dbo].[Propietario] as Prop WHERE Prop.NumId = @InNumId   
		SELECT @IDPropiedad = P.ID FROM [dbo].[Propiedad] as P WHERE P.NumFinca = @InNumFinca

		IF (@IDPropietario is null or @IDPropiedad is null)
		THROW 70001,'El Numero de cedula o el numero de finca no existe',1;

		INSERT INTO [dbo].[PropiedadXPropietario] ([IDPropietario], [IDPropiedad],[FechaInsercion],[Activo])
		SELECT @IDPropietario, @IDPropiedad,GETDATE(),1
	
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
          
END
GO
/****** Object:  StoredProcedure [dbo].[SPIPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPIPropietario]
	@InFechaInsercion date,
	@InNombre varchar(100),
	@InNumId varchar(20),
	@InTipoId int	

AS

BEGIN

	DECLARE @maxTipoId int 
	SELECT @maxTipoId = MAX(ID) FROM [dbo].TipoID

	IF(@InTipoId > @maxTipoId)
		THROW 70001, 'Error en el tipoID, el valor es muy alto, no se pudo porcesar' , 1;		
	IF (@InTipoId < 0) 
		THROW 70001, 'Hubo un campo vacío o erroneo y la solicitud no se pudo porcesar' , 1;
	IF(NOT LEN(@InNombre ) > 0 OR NOT LEN(@InNumId ) > 0 )
		THROW 70002, 'Hubo un campo vacío o erroneo y la solicitud no se pudo porcesar',1;

	BEGIN TRY
		SET NOCOUNT ON
		INSERT INTO [dbo].[Propietario](Nombre, NumId,TipoId,FechaInsercion,Activo)
			Values(@InNombre, @InNumId,@InTipoId,@InFechaInsercion,1);
	
	END TRY  

	BEGIN CATCH  
		THROW 70001, 'Hubo un error y la solicitud no se pudo porcesar',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPIPropietarioJuridico]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPIPropietarioJuridico] 
	@InNumId varchar(20),
	@InNombre varchar(100),
	@InTipoId int,
	@InFechaInsercion date,
    @InIDTipoIdResponsable int,
    @InNumIdResponsable varchar(50),
    @InResponsable varchar(100)

AS   

SET NOCOUNT ON 
BEGIN
	BEGIN TRY
		BEGIN TRAN
	IF(LEN(@InNumId) < 1 OR  LEN(@InNombre)<1 OR  LEN(@InNumIdResponsable)<1 OR  LEN(@InResponsable)<1 OR  @InTipoId<1 OR @InIDTipoIdResponsable<1) 
		THROW 70002,'Hay campos vacíos',1;

			exec [dbo].[SPIPropietario] @InFechaInsercion,@InNombre, @InNumId, @InTipoId
			INSERT INTO [dbo].[PropietarioJuridico] ([IDPropietario],[IDTipoIdResponsable], [NumIdResponsable], [Responsable])
			Values ((SELECT IDENT_CURRENT('Propietario')), @InIDTipoIdResponsable, @InNumIdResponsable,@InResponsable)     
		
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPITipoID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPITipoID] 
    @InID int,
    @InDescripcion varchar(100)
AS 
	 
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 
	
	INSERT INTO [dbo].[TipoID] ([ID], [Descripcion])
	VALUES( @InID, @InDescripcion)

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPIUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPIUsuario]
	@InNombre varchar(100),
	@InPassword varchar(100)

AS

BEGIN
	BEGIN TRY  

	IF(NOT LEN(@InNombre)>0 OR NOT LEN(@InPassword)>0)
		THROW 70001,'Uno de los campos estaba vacío',1;
	INSERT INTO [dbo].[Usuario]([Nombre], [Password],[FechaInsercion] ,[Activo]) 
	Values(@InNombre, @InPassword,GETDATE(),1)

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPIUsuarioXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPIUsuarioXPropiedad] 
	@InNumFinca varchar(20),
	@InUsername varchar(100)	

AS

BEGIN 
	BEGIN TRY
	SET NOCOUNT ON 

		DECLARE @IDUsuario int
		DECLARE @IDPropiedad int

		SELECT @IDUsuario = U.ID FROM [dbo].[Usuario] AS U WHERE U.Nombre = @InUserName
		SELECT @IDPropiedad = P.ID FROM [dbo].Propiedad AS P WHERE P.NumFinca = @InNumFinca

		INSERT INTO [dbo].[UsuarioXPropiedad] ([IDUsuario], [IDPropiedad],[Activo],[FechaInsercion])
		VALUES (@IDUsuario, @IDPropiedad,1,GETDATE())

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSCCConsumo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSCCConsumo] 

AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

	SELECT ConcpC.[ID], ConcpC.[Nombre], ConcpC.[TasaInteresMor], ConcpC.[DiasRestantesVigencia], ConcpC.[DiaCorte], ConcpC.[EsFijo], ConcpC.[EsRecurrente], ConcpC.[EsImpuesto], ConcpC.[Monto], CCC.[ValorMetrosCubicos]
	FROM [dbo].[ConceptoCobro] as ConcpC INNER JOIN [dbo].[CCConsumo] as CCC on ConcpC.ID = CCC.IDCC 
	WHERE ConcpC.Activo = 1 
	
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SPSCCFijo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSCCFijo] 

AS

BEGIN
	BEGIN TRY
	SET NOCOUNT ON   

		SELECT ConcpC.[ID], ConcpC.[Nombre], ConcpC.[TasaInteresMor], ConcpC.[DiasRestantesVigencia], ConcpC.[DiaCorte], ConcpC.[EsFijo], ConcpC.[EsRecurrente],ConcpC.[EsImpuesto], CCF.[Monto]
		FROM   [dbo].[ConceptoCobro] as ConcpC INNER JOIN [dbo].[CCFijo] as CCF on ConcpC.ID = CCF.IDCC 
		WHERE ConcpC.Activo = 1

	END TRY
	BEGIN CATCH 
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSCCPorcentaje]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSCCPorcentaje] 

AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

		SELECT ConcpC.[ID], ConcpC.[Nombre], ConcpC.[TasaInteresMor], ConcpC.[DiasRestantesVigencia], ConcpC.[DiaCorte], ConcpC.[EsFijo], ConcpC.[EsRecurrente], ConcpC.[EsImpuesto], ConcpC.[Monto], CCP.[ValorPorcentaje]
		FROM   [dbo].[ConceptoCobro] as ConcpC INNER JOIN [dbo].[CCPorcentaje] as CCP on ConcpC.ID = CCP.IDCC 
		WHERE ConcpC.Activo = 1

	END TRY
	BEGIN CATCH 
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END 
GO
/****** Object:  StoredProcedure [dbo].[SPSCCPorPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSCCPorPropiedad] 
    @InNumFinca VARCHAR(20)
AS 
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

		CREATE TABLE #TEMP([Nombre] VARCHAR(20),[TasaInteresMor] real	
			,[DiasRestantesVigencia]  int, [DiaCorte] int 
			,[EsFijo] VARCHAR(2),[EsRecurrente]VARCHAR(2)
			,[EsImpuesto] VARCHAR(2),[Activo] BIT
			,[Monto] MONEY
		);

		SELECT P.NumId, P.Nombre, P.TipoId 
		FROM   [Propietario] AS P 
		INNER JOIN [PropiedadXPropietario] AS PXP ON P.ID = PXP.IDPropietario
		INNER JOIN [Propiedad] AS Pr ON Pr.ID = PXP.IDPropiedad 
		WHERE Pr.NumFinca = @InNumFinca AND P.Activo = 1 AND PXP.Activo = 1
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSCCXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPSCCXPropiedad]
@InNumFinca varchar(20)
AS

BEGIN
	BEGIN TRY
			DECLARE @idFinca INT
			SET @idFinca = (SELECT id FROM [dbo].[Propiedad] WHERE [numFinca] = @InNumFinca) 

			SELECT  [ConceptoCobro].[ID],
					[ConceptoCobro].[Nombre],
					[ConceptoCobro].[DiasRestantesVigencia],
					[CCConsumo].[ValorMetrosCubicos],[CCPorcentaje].[ValorPorcentaje],
					[ConceptoCobro].[TasaInteresMor], [ConceptoCobro]. [EsRecurrente],
					[ConceptoCobro].[EsImpuesto],[ConceptoCobro].[DiaCorte],[ConceptoCobro].[EsFijo],[CCFijo].[Monto]

			FROM   [dbo].[ConceptoCobro]
			LEFT OUTER JOIN [CCConsumo] ON [ConceptoCobro].[ID] = [CCConsumo].[IDCC]
			LEFT OUTER JOIN [CCFijo] ON [ConceptoCobro].[ID] = [CCFijo].[IDCC]
			LEFT OUTER JOIN [CCInteresMoratorio] ON [ConceptoCobro].[ID] = [CCInteresMoratorio].[IDCC]
			LEFT OUTER JOIN [CCPorcentaje] ON [ConceptoCobro].[ID] = [CCPorcentaje].[IDCC]
			WHERE [ConceptoCobro].[Activo] = 1 AND [ConceptoCobro].[ID] IN (SELECT IDCC FROM CCXPropiedad WHERE IDPropiedad= @idFinca AND Activo=1)

	  END TRY

	  BEGIN CATCH 
		THROW 70001,'Error en la insercion de los tipos',1;
	  END CATCH
  END 
GO
/****** Object:  StoredProcedure [dbo].[SPSCCXPropiedadPorNumFinca]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSCCXPropiedadPorNumFinca] 
	@InNumFinca varchar(20)
AS 

BEGIN 
	BEGIN TRY 
	SET NOCOUNT ON 

		SELECT P.NumFinca , P.Valor, P.Direccion, CCXP.IDCC, CC.Nombre 
		FROM   [dbo].[CCXPropiedad] as CCXP 
		INNER JOIN [dbo].[Propiedad] as P on CCXP.IDPropiedad = P.ID 
		INNER JOIN [dbo].[ConceptoCobro] as CC on CC.ID = CCXP.IDCC
		WHERE P.NumFinca = @InNumFinca AND CCXP.Activo = 1 AND P.Activo = 1 AND CC.Activo = 1  

	END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        THROW 70001,'Hubo un error en la transaccion',1; 
    END CATCH
END

 
GO
/****** Object:  StoredProcedure [dbo].[SPSPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPSPropiedad]
AS

BEGIN
	BEGIN TRY
		SET NOCOUNT ON 

		SELECT TOP (200)  [NumFinca], [Valor], [Direccion]
		FROM [dbo].[Propiedad]
		WHERE [Activo] = 1 

	END TRY
    BEGIN CATCH
        THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
			
			
GO
/****** Object:  StoredProcedure [dbo].[SPSPropiedadesPorPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropiedadesPorPropietario] 
    @InNumId varchar(20)

AS 

BEGIN 
	SET NOCOUNT ON  
	BEGIN TRY

		SELECT P.numFinca, P.valor, P.direccion 
		FROM   [dbo].[Propiedad] as P 
		INNER JOIN [PropiedadXPropietario] AS PXP ON P.ID = PXP.IDPropiedad 
		INNER JOIN [Propietario] as Prop ON Prop.ID = PXP.IDPropietario 
		WHERE Prop.NumId = @InNumId AND PXP.Activo = 1 AND P.Activo = 1 AND Prop.Activo = 1 

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropiedadesPorPropietarioJuridico]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropiedadesPorPropietarioJuridico]
@InNumId varchar(20)

AS

BEGIN
	BEGIN TRY
	SET NOCOUNT ON

	SELECT P.numFinca, P.valor, P.direccion 
	FROM   [dbo].[Propiedad] as P 
	INNER JOIN [PropiedadXPropietario] AS PXP ON P.ID = PXP.IDPropiedad 
	INNER JOIN [Propietario] as Prop ON Prop.ID = PXP.IDPropietario 
	WHERE Prop.NumId = @InNumId AND PXP.Activo = 1
		  AND P.Activo = 1 AND Prop.Activo = 1 AND Prop.TipoId=4
	
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1; 
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropiedadesPorUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropiedadesPorUsuario] 
	@InUsername varchar(100)
AS 
	 
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

		SELECT P.NumFinca, P.Valor, P.Direccion 
		FROM   [dbo].[Propiedad] as P 
		INNER JOIN [UsuarioXPropiedad] AS UXP ON P.ID = UXP.IDPropiedad 
		INNER JOIN [Usuario] as U ON U.ID = UXP.IDUsuario 
		WHERE U.Nombre = @InUsername AND U.Activo = 1 AND P.Activo = 1 AND UXP.Activo = 1
	END TRY 

	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH  
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropiedadPorNumFinca]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropiedadPorNumFinca]
	@InNumFinca varchar(20)

AS

BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		SELECT [ID], [NumFinca], [Valor], [Direccion]
		FROM [dbo].[Propiedad]
		WHERE [NumFinca] LIKE '%'+cast(@InNumFinca as varchar(300))+'%' AND [Activo] = 1
	
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1; 
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropiedadXPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropiedadXPropietario] 

AS 
	
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

		SELECT [ID], [IDPropietario], [IDPropiedad] 
		FROM   [dbo].[PropiedadXPropietario] 
		WHERE [Activo] = 1

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPSPropietario]

AS

BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		SELECT TOP (200) [ID], [Nombre], [NumId], [TipoId]
		FROM [dbo].[Propietario]
		WHERE Activo=1 AND [TipoId]!='4';

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1; 
	END CATCH
END
			
			
GO
/****** Object:  StoredProcedure [dbo].[SPSPropietarioJuridico]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropietarioJuridico] 

AS 
	
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

		SELECT P.[Nombre], P.[NumId],PJ.[IDTipoIdResponsable], PJ.[Responsable]
		FROM   [dbo].[Propietario] as P INNER JOIN [dbo].[PropietarioJuridico] as PJ ON P.ID = PJ.IDPropietario
		WHERE P.Activo = 1

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropietarioJuridicoPorNumID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropietarioJuridicoPorNumID]
@InNumId VARCHAR(30)
AS
BEGIN
	BEGIN TRY 
	SET NOCOUNT ON
		IF (NOT LEN(@InNumId)>0)
			THROW 70001,'Hubo un error en la busqueda',1;
		SELECT P.[Nombre], P.[NumId],PJ.[IDTipoIdResponsable], PJ.[Responsable]
		FROM   [dbo].[Propietario] as P INNER JOIN [dbo].[PropietarioJuridico] as PJ ON P.ID = PJ.IDPropietario
		WHERE NumId LIKE '%'+@InNumId +'%' AND Activo = 1 

	END TRY 
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropietarioPorNumId]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropietarioPorNumId]
@InNumId int
AS
BEGIN
	BEGIN TRY 
	SET NOCOUNT ON
		IF (NOT LEN(@InNumId)>0)
			THROW 70001,'Hubo un error en la busqueda',1;
		SELECT [Nombre], [NumId], [TipoID]
		FROM [dbo].[Propietario]
		WHERE NumId LIKE '%'+cast(@InNumId as varchar(100))+'%' AND Activo = 1 AND TipoId!='4'

	END TRY 
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSPropietariosPorPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSPropietariosPorPropiedad] 
    @InNumFinca varchar(20)
AS 
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 
	
		SELECT P.NumId, P.Nombre, P.TipoId 
		FROM   [Propietario] AS P 
		INNER JOIN [PropiedadXPropietario] AS PXP ON P.ID = PXP.IDPropietario
		INNER JOIN [Propiedad] AS Pr ON Pr.ID = PXP.IDPropiedad 
		WHERE Pr.NumFinca = @InNumFinca AND P.Activo = 1 AND PXP.Activo = 1
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSResponsable]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSResponsable] 
	@InNumFinca varchar(20) 
AS 

BEGIN 
	BEGIN TRY 
	SET NOCOUNT ON

		DECLARE @IdPropiedad int 
		SELECT @IdPropiedad = P.[ID] FROM [dbo].[Propiedad] AS P WHERE P.[NumFinca] = @InNumFinca

		SELECT [IDTipoIdResponsable], [NumIdResponsable], [Responsable]
		FROM   [dbo].[PropietarioJuridico]
		WHERE  [IDPropietario] = @IdPropiedad

	END TRY
    BEGIN CATCH
        THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSTipoID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSTipoID] 
AS 

BEGIN 
	BEGIN TRY
	SET NOCOUNT ON 
 
	SELECT [ID], [Descripcion] 
	FROM   [dbo].[TipoID] 

	END TRY
    BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SPSUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPSUsuario]

AS

BEGIN
	BEGIN TRY
	SET NOCOUNT ON

		SELECT [Nombre], [Password]
		FROM [dbo].[Usuario]
		WHERE Activo = 1;
	
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
			
			
GO
/****** Object:  StoredProcedure [dbo].[SPSUsuarioPorNombre]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSUsuarioPorNombre]
	@InUsername varchar(100)
AS
BEGIN 
	BEGIN TRY
	SET NOCOUNT ON
		IF (NOT LEN(@InUsername)>0)
			THROW 70001,'Hubo un error en la transaccion',1;
		SELECT [ID], [Nombre], [Password]
		FROM [dbo].[Usuario]
		WHERE Nombre LIKE '%'+@InUsername+'%' AND Activo = 1

	END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSUsuarioPorPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSUsuarioPorPropiedad] 
@InNumFinca varchar(20)
AS 
	
BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

		SELECT  U.[Nombre], U.[Password] 
		FROM   [Usuario] AS U
		INNER JOIN [UsuarioXPropiedad] AS UXP ON U.ID = UXP.IDPropiedad
		INNER JOIN [Propiedad] AS Pr ON Pr.ID = UXP.IDPropiedad 
		WHERE Pr.NumFinca = @InNumFinca AND U.Activo = 1 AND UXP.Activo = 1

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSUsuariosPorPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSUsuariosPorPropiedad] 
	@InNumFinca  varchar(20)
AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON 

	SELECT U.Nombre, U.Password 
	FROM   [Usuario] AS U 
	INNER JOIN UsuarioXPropiedad AS UXP ON U.ID = UXP.IDUsuario
	INNER JOIN Propiedad AS PR ON PR.ID = UXP.IDPropiedad 
	WHERE PR.NumFinca = @InNumFinca AND U.Activo = 1 AND UXP.Activo = 1 AND PR.Activo = 1

	END TRY
    BEGIN CATCH
        THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPSUsuarioXPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPSUsuarioXPropiedad] 
 
AS 

BEGIN 
	BEGIN TRY 
	SET NOCOUNT ON 

	SELECT [ID], [IDUsuario], [IDPropiedad] 
	FROM   [dbo].[UsuarioXPropiedad] 
	WHERE [Activo] = 1

	END TRY
    BEGIN CATCH
        THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END

	
GO
/****** Object:  StoredProcedure [dbo].[SPUCCConsumo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPUCCConsumo] 
    @InIDCC int,
    @InValorMetrosCubicos real,
    @InNombre varchar(100),
    @InTasaInteresMor varchar(2),
    @InDiasRestantesVigencia int,
    @InDiaCorte int,
    @InEsFijo varchar(2),
    @InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money
AS 

BEGIN 
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON  
		
		exec SPUConceptoCobro @InIDCC, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto   
		UPDATE [dbo].[CCConsumo]
		SET    [ValorMetrosCubicos] = @InValorMetrosCubicos
		WHERE  [IDCC] = @InIDCC
		
		COMMIT
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN;
			THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUCCFijo]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPUCCFijo] 
    @InIDCC int,
    @InMonto money, 
	@InNombre varchar(100),
    @InTasaInteresMor varchar(2),
    @InDiasRestantesVigencia int,
    @InDiaCorte int,
    @InEsFijo varchar(2),
    @InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2)

AS 

BEGIN 
	BEGIN TRY 
		BEGIN TRAN
		SET NOCOUNT ON  
	
			exec SPUConceptoCobro  @InIDCC, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto
			UPDATE [dbo].[CCFijo]
			SET    [Monto] = @InMonto
			WHERE  [IDCC] = @InIDCC
	
		COMMIT
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN;
			THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUCCPorcentaje]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPUCCPorcentaje] 
    @InIDCC int,
    @InValorPorcentaje real,
	@InNombre varchar(100),
    @InTasaInteresMor varchar(2),
    @InDiasRestantesVigencia int,
    @InDiaCorte int,
    @InEsFijo varchar(2),
    @InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2),
	@InMonto money

AS 
	 
BEGIN
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON

		exec SPUConceptoCobro @InIDCC, @InNombre, @InTasaInteresMor, @InDiasRestantesVigencia, @InDiaCorte, @InEsFijo, @InEsRecurrente, @InEsImpuesto, @InMonto
		UPDATE [dbo].[CCPorcentaje]
		SET    [ValorPorcentaje] = @InValorPorcentaje
		WHERE  [IDCC] = @InIDCC

		COMMIT
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN;
			THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUConceptoCobro]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPUConceptoCobro] 
    @InID int,
    @InNombre varchar(100),
    @InTasaInteresMor varchar(2),
    @InDiasRestantesVigencia int,
    @InDiaCorte int,
    @InEsFijo varchar(2),
    @InEsRecurrente varchar(2),
	@InEsImpuesto varchar(2), 
	@InMonto money
AS 

BEGIN 
	BEGIN TRY 
	SET NOCOUNT ON 

	UPDATE [dbo].[ConceptoCobro]
	SET    [Nombre] = @InNombre, [TasaInteresMor] = @InTasaInteresMor, [DiasRestantesVigencia] = @InDiasRestantesVigencia, [DiaCorte] = @InDiaCorte, [EsFijo] = @InEsFijo, [EsRecurrente] = @InEsRecurrente, [EsImpuesto] = @InEsImpuesto, [Monto] = @InMonto
	WHERE  [ID] = @InID AND [Activo] = 1

	END TRY
    BEGIN CATCH
      THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUPropiedad]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUPropiedad]
	@InNumFincaViejo varchar(20),
	@InNumFincaNuevo varchar(20),
	@InValor int,
	@InDireccion varchar(300)

AS 

BEGIN
	IF(NOT LEN(@InDireccion ) > 0  OR @InValor<0 OR @InNumFincaNuevo<0) --si los tipos son dif agregue ESTO --> OR NOT LEN(@ ) > 0)
		THROW 70002, 'Hubo un campo vacío o con datos erróneos y  la solicitud no se pudo procesar',1;
	BEGIN TRY 

		DECLARE @IdPropiedad int 
		SELECT @IdPropiedad = P.ID FROM [dbo].[Propiedad] AS P WHERE P.NumFinca = @InNumFincaViejo

		UPDATE [dbo].[Propiedad]
		SET [NumFinca] = @InNumFincaNuevo, [Valor] = @InValor, [Direccion] = @InDireccion
		WHERE [ID] = @IdPropiedad AND [Activo] = 1

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUPropietario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUPropietario]
	@InNombre varchar(100),
	@InNumIdViejo varchar(20),
	@InNumIdNuevo varchar(20),
	@InTipoId int
AS 
BEGIN
	IF(NOT LEN(@InNombre) > 0 )
		THROW 70002, 'Hubo un campo vacío y la solicitud no se pudo porcesar',1;
	BEGIN TRY

		DECLARE @IdPropietario int
		SELECT @IdPropietario = P.ID FROM [dbo].[Propietario] AS P WHERE P.NumId = @InNumIdViejo

		UPDATE [dbo].[Propietario]
		SET [Nombre] = @InNombre, [NumId] = @InNumIdNuevo, [TipoId] = @InTipoId
		WHERE [ID] = @IdPropietario AND [Activo] = 1

	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUPropietarioJuridico]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPUPropietarioJuridico] 
	@InNumIdViejo varchar(20),
	@InNumIdNuevo varchar(20), 
	@InNombre varchar(100),
	@InTipoId int,
    @InIDTipoIdResponsable int,
    @InNumIdResponsable varchar(50),
    @InResponsable varchar(100)
AS 

BEGIN
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON 
		
		exec SPUPropietario @InNombre, @InNumIdViejo, @InNumIdNuevo, @InTipoId
		DECLARE @IdPropietario int
		SELECT @IdPropietario = P.ID FROM [dbo].[Propietario] AS P WHERE P.NumId = @InNumIdNuevo

		
		UPDATE [dbo].[PropietarioJuridico]
		SET    [IDTipoIdResponsable] = @InIDTipoIdResponsable, [NumIdResponsable] = @InNumIdResponsable, [Responsable] = @InResponsable
		WHERE  [IDPropietario] = @IdPropietario

		COMMIT 
	END TRY
	BEGIN CATCH
		Rollback tran;
		THROW 70001,'Hubo un error en la transaccion',1;
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPUTipoID]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SPUTipoID] 
    @ID int,
    @Descripcion varchar(100)
AS 

BEGIN
	BEGIN TRY
	SET NOCOUNT ON 
	
		UPDATE [dbo].[TipoID]
		SET    [Descripcion] = @Descripcion
		WHERE  [ID] = @ID AND [Activo] = 1

	END TRY
    BEGIN CATCH
        THROW 70001,'Hubo un error en la transaccion',1;
    END CATCH
END
	
GO
/****** Object:  StoredProcedure [dbo].[SPUUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUUsuario]
	@InUsernameViejo varchar(100),
	@InUsernameNuevo varchar(100),
	@InPasswordNueva varchar(100)
AS 

BEGIN
	
	BEGIN TRY
	IF(NOT LEN(@InPasswordNueva) > 0 AND NOT LEN(@InPasswordNueva) > 0  )
		THROW 70002, 'Hubo un erro en algun campo y la solicitud no se pudo porcesar',1;
		DECLARE @IdUser int 
		SELECT @IdUser = U.ID FROM [dbo].[Usuario] AS U WHERE U.Nombre = @InUsernameViejo

		UPDATE [dbo].[Usuario]
		SET [Nombre] = @InUsernameNuevo, [Password] = @InPasswordNueva
		WHERE [ID] = @IdUser AND [Activo] = 1
	
	END TRY
	BEGIN CATCH
		THROW 70001,'Hubo un error en la transaccion',1;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPValidarUsuario]    Script Date: 6/3/2020 7:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPValidarUsuario]
@InUsuario VARCHAR(100),
@InContrasena VARCHAR(100)
AS 
BEGIN
	IF(NOT LEN(@InUsuario ) > 0 OR NOT LEN(@InContrasena) > 0 )
		THROW 70002, 'Hubo un campo vacío y la solicitud no se pudo porcesar',1;
	BEGIN TRY
		SELECT [Nombre],[Password]
		FROM [dbo].[Usuario] AS U
		WHERE U.[Nombre] = @InUsuario AND U.[Password] = @InContrasena
	END TRY

	 BEGIN CATCH
		THROW
	END CATCH
 END

GO
USE [master]
GO
